{{- define "main" }}

{{- if (and site.Params.profileMode.enabled .IsHome) }}
  {{- partial "index_profile.html" . }}
{{- else }}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>
    {{ .Title }}
    {{- if and (or (eq .Kind `term`) (eq .Kind `section`)) (.Param "ShowRssButtonInSectionTermList") }}
      {{- with .OutputFormats.Get "rss" }}
      <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round"
             stroke-linejoin="round" height="23">
          <path d="M4 11a9 9 0 0 1 9 9" />
          <path d="M4 4a16 16 0 0 1 16 16" />
          <circle cx="5" cy="19" r="1" />
        </svg>
      </a>
      {{- end }}
    {{- end }}
  </h1>

  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>
{{- end }}

{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
  {{- else }}
    {{ .Content }}
  {{- end }}
</div>
{{- end }}

{{/* ---------- СБОР СТРАНИЦ ---------- */}}

{{- $all := union .RegularPages .Sections }}

{{- if .IsHome }}
  {{- $all = where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{- $all = where $all "Params.hiddenInHomeList" "!=" true }}
{{- end }}

{{/* ---------- PINNED / NORMAL ---------- */}}

{{- $pinned := where $all "Params.pinned" true }}
{{- $normal := where $all "Params.pinned" "!=" true }}

{{- $pages := union $pinned $normal }}

{{/* ---------- ПАГИНАЦИЯ ---------- */}}

{{- $paginator := .Paginate $pages }}

{{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
  {{- partial "home_info.html" . }}
{{- end }}

{{- $term := .Data.Term }}

{{- if eq .Kind "section" }}

{{- $cats := dict }}

{{- range .RegularPages }}
  {{- range .Params.categories }}
    {{- $cats = merge $cats (dict . (add (index $cats . | default 0) 1)) }}
  {{- end }}
{{- end }}

{{/* ---------- Вывод категорий ----------- */}}

{{- if gt (len $cats) 0 }}
<section class="section-categories">
  <h2>Категории</h2>
  <ul>
    {{- range $name, $count := $cats }}
      <li>
        <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}/">
          {{ $name }}
        </a>
        <span>({{ $count }})</span>
      </li>
    {{- end }}
  </ul>
</section>
{{- end }}

{{- end }}

{{/* ---------- РЕНДЕР КАРТОЧЕК ---------- */}}

{{- range $index, $page := $paginator.Pages }}

{{- $class := "post-entry" }}
{{- $user_preferred := or site.Params.disableSpecial1stPost site.Params.homeInfoParams }}

{{- if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) (not $user_preferred) }}
  {{- $class = "first-entry" }}
{{- else if $term }}
  {{- $class = "post-entry tag-entry" }}
{{- end }}

<article class="{{ $class }}">
  {{- $isHidden := (.Param "cover.hiddenInList") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" $isHidden) }}

  <header class="entry-header">
    <h2 class="entry-hint-parent">
      {{- .Title }}
      {{- if .Params.pinned }}
        <span class="entry-hint" title="Закреплено">📌</span>
      {{- end }}
      {{- if .Draft }}
        <span class="entry-hint" title="Draft">
          <svg xmlns="http://www.w3.org/2000/svg" height="20"
               viewBox="0 -960 960 960" fill="currentColor">
            <path d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37Zm-240 203h38l121-122-37-37-122 121v38Z"/>
          </svg>
        </span>
      {{- end }}
    </h2>
  </header>

  {{- if ne (.Param "hideSummary") true }}
  <div class="entry-content">
    <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}…{{ end }}</p>
  </div>
  {{- end }}

  {{- if not (.Param "hideMeta") }}
  <footer class="entry-footer">
    {{- partial "post_meta.html" . }}
  </footer>
  {{- end }}

  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}"
     href="{{ .Permalink }}"></a>
</article>

{{- end }}

{{/* ---------- НАВИГАЦИЯ ---------- */}}

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">
      « {{ i18n "prev_page" }}
      {{- if (.Param "ShowPageNums") }}
        {{ sub $paginator.PageNumber 1 }}/{{ $paginator.TotalPages }}
      {{- end }}
    </a>
    {{- end }}

    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL | absURL }}">
      {{ i18n "next_page" }}
      {{- if (.Param "ShowPageNums") }}
        {{ add 1 $paginator.PageNumber }}/{{ $paginator.TotalPages }}
      {{- end }} »
    </a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- end }}{{/* profileMode */}}

{{- end }}{{/* main */}}
